<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Publicar</servlet-name>
        <servlet-class>Publicar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comentar</servlet-name>
        <servlet-class>Comentar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarComentario</servlet-name>
        <servlet-class>BorrarComentario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Publicar</servlet-name>
        <url-pattern>/Publicar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comentar</servlet-name>
        <url-pattern>/Comentar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarComentario</servlet-name>
        <url-pattern>/BorrarComentario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
